#info{
	margin: 5px 5px 50px 5px;
}

.exampleInput{
	font-size: 30px;
	padding: 5px;
	margin: 5px;
	background-color: #FFC;
}

.exampleInput>input{
	font-size: 30px;
}

.inputGrade, .inputGrade>select, .inputName, .inputName>input, #inputEmail, #inputEmail>input, .inputCourse, .inputCourse>input{
	font-size: 25px;
	padding: 2px;
}

.inputCourse:nth-child(-n+6){
	background-color: #9CF;
}

.inputCourse:nth-child(n+7){
	background-color: #FC9;
}

.inputName, .inputGrade, .inputType{
	background-color: #AFA;
	padding: 5px;
}

.inputGrade{
	background-color: #F99;
	padding: 5px 2px 5px 2px;
}

.inputGrade>select{
	padding: 0px;
}

#inputEmail{
	margin: 10px auto 10px auto;
}

#confirm{
	margin: 20px auto 20px auto;
}

#confirm2{
	display: none;
	margin-top: 50px;
}

button{
	border-radius: 10px;
}

#inputEmail>.inputField{
	text-align:right;
}

#displayKey{
	display: none;
	max-width: 70%;
	text-align: center;
	margin: auto;
}

#key{
	display: inline-block;
	font-size: 40px;
	border: 3px solid black;
	padding: 5px;
	margin: 10px;
	background-color: yellow;
}

.eight-digits{
	font-size: 26px;
	font-weight: bold;
	color: red;
}
