<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="../global/jquery.min.js"></script>
		<script src="../global/global.js"></script>
		<script src="/view/script.js"></script>
		<link rel="stylesheet" href="../global/global.css"/>
		<link rel="stylesheet" href="/view/style.css"/>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="loading">Loading...</div>
		<div>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Period<br/> 1</th>
						<th>Period<br/> 2</th>
						<th>Period<br/> 3</th>
						<th>Period<br/> 4</th>
						<th>Period<br/> 1</th>
						<th>Period<br/> 2</th>
						<th>Period<br/> 3</th>
						<th>Period<br/> 4</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</body>
</html>
