table{
	display: none;
	margin: 0px auto 0px auto;
	border-collapse: separate;
	border-spacing: 5px;
}

th, td{
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	border: 2px solid black;
}

th{
	font-weight: normal;
	background-color: hsl(60, 100%, 80%);
}

th:first-child{
	background-color: white;
	border-color: white;
}
