#main{
	display: none;
}

#info{
	text-align: center;
	margin: 20px;
}

table{
	margin: 0px auto 0px auto;
	border-collapse: separate;
	border-spacing: 5px;
}

th, td{
	border-radius: 5px;
	text-align: center;
	padding: 6px 10px 6px 10px;
	border: 2px solid black;
}

th{
	font-weight: normal;
}

th:nth-child(-n+6){
	background-color: #CFF;
}

th:nth-child(1){
	background-color: #FFC;
}

th:nth-child(2){
	background-color: #CFC;
}

th:nth-child(n+7){
	background-color: #FCC;
}

td:first-child{
	background-color: beige;
}

#select{
	text-align: center;
}

#dropdown, #dropdown > option{
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	background-color: #EEE;
	text-align: center;
}
